		<!-- BEGIN #checkout-cart -->
<div class="section-container" id="checkout-cart">
    <!-- BEGIN container -->
    <div class="container">
        <div class="checkout-footer text-center">
            <button type="button" class="btn btn-white btn-theme" @onclick="OnPlaceOrder">PLACE ORDERS</button>
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END #checkout-cart -->
@code {
    [Parameter]
    public EventCallback PlaceOrderCallback { get; set; }

    private async Task OnPlaceOrder()
        {
        if (PlaceOrderCallback.HasDelegate)
            {
            await PlaceOrderCallback.InvokeAsync();
            }
        }
}