
@page "/Order-failure/{OrderId:long}"
    <div class="container">
        <div class="checkout" style="margin:3%">

            <div class="row">
                <div class="checkout-message">
                    <h2>❌ Payment Failed</h2>
                    <p>Sorry, your payment could not be completed. Please try again.</p>
                </div>
            </div>
        </div>
    </div>