@typeparam TItem where TItem : EmailAddress
@using System.Collections.ObjectModel
@using Ecommerce.Mailer.DTOs
@using System.ComponentModel.DataAnnotations

<div>
    @foreach (var item in EmailList)
    {
        <span class="email-tag">@item.Email <a href="javascript:void(0)" @onclick="@(() => RemoveEmail(item))">&times;</a></span>
    }
    <input type="text" @bind-value="newEmailAddress" @bind-value:event="oninput" @onkeydown="@OnKeyDown" placeholder="Add email" class="email-input" />
</div>

@code {
    [Parameter] public IList<TItem> EmailList { get; set; }
    private string newEmailAddress = string.Empty;

    private void AddEmail()
    {
        if (!string.IsNullOrWhiteSpace(newEmailAddress) && new EmailAddressAttribute().IsValid(newEmailAddress))
        {
            EmailList.Add((TItem)(object)new EmailAddress { Email = newEmailAddress });
            newEmailAddress = string.Empty;
        }
    }

    private void RemoveEmail(TItem email)
    {
        EmailList.Remove(email);
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Key == "Tab")
        {
            AddEmail();
        }
    }
}
