@page "/BrandList"
@using Ecommerce.Shared.Entities.Brands
@using Ecommerce.Shared.Services.Brands;
@inject IBrandService BrandService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using Ecommerce.Admin.Components.Pages.Shared
<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Brands</li>
        </ol>
    </div>

    <div class="ms-auto">
        <button @onclick="NavigateToAddBrand" class="btn btn-General btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-primary-900"></i>Add Brand</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Brand List</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
           



                <MudDataGrid T="BrandDto" Items="@brands" ColumnResizeMode="@(_resizeColumn ? ResizeMode.Column : ResizeMode.Container)" RowsPerPage="10" Striped="true" Bordered="true">
                    <ColGroup>
                        <col style="width: 60%;" />
                        <col style="width: 10%;" />
                        <col style="width: 20%;" />
                    </ColGroup>
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Name" />
                        <TemplateColumn Title="Marked Brand">
                            <CellTemplate>
                                @{
                                    bool marked = context.Item.MarkBrand;
                                    @if (marked)
                                        {


                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Marked – Click to Unmark" @onclick="(() => MarkBrand(context.Item))">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        }
                                    else
                                        {
                                  
                                        <button type="button" class="btn btn-gray btn-sm" data-bs-toggle="tooltip" title="UnMarked – Click to Mark" @onclick="(() => MarkBrand(context.Item))">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        }

                                }
                            </CellTemplate>
                        </TemplateColumn>

                        <TemplateColumn>
                            <HeaderTemplate>
                                <div>Manage Records</div>
                            </HeaderTemplate>
                            <CellTemplate>
                                <MudStack Row>
                    


                                    <button type="button" class="btn btn-yellow btn-sm" data-bs-toggle="tooltip" title="Edit" @onclick="() => EditBrand(context.Item.Id)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Delete" @onclick="() => DeleteBrand(context.Item)">
                                        <i class="fas fa-trash"></i>
                                    </button>


                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="BrandDto" PageSizeOptions="@(new int[] { 5, 10, 20 })" />
                    </PagerContent>
                </MudDataGrid>
            </div>
        </div>
    </div>
</div>

@code {

    private bool _resizeColumn = true;
    private List<BrandDto> brands;
    [Inject]
    public IDialogService DialogService { get; set; }

    protected override async Task OnInitializedAsync()
        {
        await LoadBrands();
        }

    private async Task LoadBrands()
        {
        var response = await BrandService.GetAllBrandsDtoAsync();
        if (response.Success)
            {
            brands = response.Data;
            }
        else
            {
            Snackbar.Add(response.Message, Severity.Error);
            }
        }

    private void NavigateToAddBrand()
        {
        NavigationManager.NavigateTo("/AddEditBrand");
        }

    private void EditBrand(long brandId)
        {
        NavigationManager.NavigateTo($"/AddEditBrand/{brandId}");
        }


    private async Task DeleteBrand(BrandDto cluster)
        {
        try
            {
            var parameters = new DialogParameters();
            parameters.Add("ContentText", "Do you want to confirm?");
            parameters.Add("ButtonText", "Yes");
            var dialogresult = DialogService.Show<DeleteDialog>("Confirm", parameters);
            var result = await dialogresult.Result;
            if (!result.Canceled && bool.TryParse(result.Data.ToString(), out bool resultbool))
                await DeleteBrand(cluster.Id);
            }
        catch (Exception ex)
            {
            Snackbar.Add("An error occurred while attempting to delete the cluster: " + ex.Message, Severity.Error);
            Console.Error.WriteLine($"Error in DeleteCluster: {ex}");
            }
        }

    private async Task DeleteBrand(long brandId)
        {
        var response = await BrandService.DeleteBrandAsync(brandId);
        if (response.Success)
            {
            Snackbar.Add(response.Message, Severity.Success);
            await LoadBrands();
            }
        else
            {
            Snackbar.Add(response.Message, Severity.Error);
            }
        }


    private async Task MarkBrand(BrandDto brand)

        {

        if (brand.MarkBrand)
            {
            brand.MarkBrand = false;

            }
        else
            {
            brand.MarkBrand = true;
            }
        var response = await BrandService.MarkUnmarkBrandAsync(brand.Id, brand.MarkBrand);
        if (response.Success)
            {
            Snackbar.Add(response.Message, Severity.Success);

            }
        else
            {
            Snackbar.Add(response.Message, Severity.Error);
            }
        }
}
