
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div id="sidebar" class="app-sidebar" data-bs-theme="dark">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-profile">
                <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
                    <div class="menu-profile-cover with-shadow"></div>
                    <div class="menu-profile-image">
                        <img src="../assets/img/user/user-13.jpg" alt="" />
                    </div>
                    <div class="menu-profile-info">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                @UserName
                            </div>
                            <div class="menu-caret ms-auto"></div>
                        </div>
                        <small>Administrator</small>
                    </div>
                </a>
            </div>
            <div id="appSidebarProfileMenu" class="collapse">
                <div class="menu-item pt-5px">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-cog"></i></div>
                        <div class="menu-text">Settings</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
                        <div class="menu-text"> Send Feedback</div>
                    </a>
                </div>
                <div class="menu-item pb-5px">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
                        <div class="menu-text"> Helps</div>
                    </a>
                </div>
                <div class="menu-divider m-0"></div>
            </div>
            <div class="menu-header">Navigation</div>
            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="menu-text">Dashboard</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item active">
                        <a href="/" class="menu-link"><div class="menu-text">Dashboard 1</div></a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link"><div class="menu-text">Dashboard 2</div></a>
                    </div>

                </div>
            </div>

            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-table"></i>
                    </div>
                    <div class="menu-text">Setup Data</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">

                    <div class="menu-item">
                        <a href="/BrandList" class="menu-link"><div class="menu-text">Brands</div></a>
                    </div>
                    <div class="menu-item">
                        <a href="/ModelYearList" class="menu-link"><div class="menu-text">Model Years</div></a>
                    </div>
                    <div class="menu-item">
                        <a href="/SizeList" class="menu-link"><div class="menu-text">Sizes</div></a>
                    </div>

                    <div class="menu-item">
                        <a href="/ColorList" class="menu-link"><div class="menu-text">Color</div></a>
                    </div>



                </div>
            </div>



            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-tree"></i>
                    </div>
                    <div class="menu-text">Template</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item active">
                        <a href="/ClusterList" class="menu-link"><div class="menu-text">Clusters</div></a>
                    </div>
                    <div class="menu-item">
                        <a href="/FeatureList" class="menu-link"><div class="menu-text">Features</div></a>
                    </div>

                    <div class="menu-item">
                        <a href="/TemplateList" class="menu-link"><div class="menu-text">Template</div></a>
                    </div>
                    <div class="menu-item">
                        <a href="/TemplateCategoryLinkList" class="menu-link"><div class="menu-text">Template Linking</div></a>
                    </div>



                </div>
            </div>

            <div class="menu-item">
                <a href="/MainProductList" class="menu-link">
                    <div class="menu-icon">
                        <i class="fab fa-simplybuilt"></i>
                    </div>
                    <div class="menu-text">Product</div>
                </a>
            </div>

            <div class="menu-item">
                <a href="/AddCategory" class="menu-link">
                    <div class="menu-icon">
                        <i class="fab fa-dashcube"></i>
                    </div>
                    <div class="menu-text">Category</div>
                </a>
            </div>


            <div class="menu-item">
                <a href="/CategoriesOrder" class="menu-link">
                    <div class="menu-icon">
                        <i class="fab fa-dashcube"></i>
                    </div>
                    <div class="menu-text">Category Order</div>
                </a>
            </div>


            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="menu-text">Users &amp; Management</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu" style="box-sizing: border-box; display: none;">

                    <div class="menu-item">
                        <a href="/UserList" class="menu-link">
                            <div class="menu-text">Register</div>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a href="/RoleList" class="menu-link">
                            <div class="menu-text">Role</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="menu-text">Configuration</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu" style="box-sizing: border-box; display: none;">

                    <div class="menu-item">
                        <a href="/SliderList" class="menu-link">
                            <div class="menu-text">Sliders</div>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a href="/AddEditTrendingItems" class="menu-link">
                            <div class="menu-text">Trending Items</div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
</div>
<div class="app-sidebar-bg" data-bs-theme="dark"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>

@code {
    public string UserName = "";
    protected override async Task OnInitializedAsync()
    {

        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {

                UserName = user.Identity.Name;

            }
        }
        catch(Exception ex)
            {

            }

    }
}
