
@page "/gameportal"
@inject IJSRuntime JSRuntime
<h1>Game Portal Embed Test</h1>

<iframe id="gameIframe" width="1000px" height="600px"></iframe>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender)
            {
            await JSRuntime.InvokeVoidAsync("initializeIframe");
            }
        }
}


<script>
window.initializeIframe = () => {
    const companyKey = 'AB12002';  // Set your companyKey
    const customerId = '63849';     // Set your customerId
    const iframeUrl = `https://cbscloud.live:8003/`;
    const iframe = document.getElementById('gameIframe');
    iframe.src = iframeUrl;
    iframe.onload = function () {
        const data = { companyKey, customerId };
        iframe.contentWindow.postMessage(data, 'https://cbscloud.live:8003/');
    };
};

</script>
