@page "/AddEditFeature/{FeatureId:long?}"
@using Ecommerce.Shared.Entities.Features
@inject IFeatureService FeatureService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@using Ecommerce.Shared.Services.Features;
@using Ecommerce.Shared.Services.Shared;
@using Radzen
@using Radzen.Blazor
@using Ecommerce.Shared.Entities.Clusters
@using Ecommerce.Shared.Services.Clusters
@using Pages.Shared
@inject IClusterService clusterService
@rendermode InteractiveServer

<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/FeatureList">Features</a></li>
            <li class="breadcrumb-item active">Feature</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Feature Form</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <EditForm Model="@feature" OnValidSubmit="@HandleValidSubmit" FormName="featureForm">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="Name">Name</label>
                            <InputText id="Name" class="form-control" @bind-Value="feature.Name" />
                            <span class="text-danger"> <ValidationMessage For="@(() => feature.Name)" /></span>
                        </div>

                        <div class="col-4 mb-3">
                            <label for="Name">Cluster</label>
                            <RadzenDropDownDataGrid TValue="long" @bind-Value="feature.ClusterId" Data=@clusters TextProperty="Name" ValueProperty="Id" Class="form-control">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="Name" Title="Name" Width="100px" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                            <span class="text-danger"> <ValidationMessage For="@(() => feature.ClusterId)" /></span>
                        </div>

                        <div class="col-2 mt-20px">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-12">
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> Back to previous page
                            </a>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public long? FeatureId { get; set; }
    private IEnumerable<Cluster> clusters = new List<Cluster>();
    private Feature feature = new Feature();

    protected override async Task OnInitializedAsync()
    {
        if (FeatureId.HasValue)
        {
            var response = await FeatureService.GetFeatureByIdAsync(FeatureId.Value);
            if (response.Success)
            {
                feature = response.Data;
            }
            else
            {
                Snackbar.Add(response.Message, Severity.Error);
            }
        }
        await LoadClusters();
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            ServiceResponse<Feature> response;

            if(feature.ClusterId==0 || feature.ClusterId==null)
            {
                Snackbar.Add("Please Select Cluster", Severity.Info);
                return;
            }

            if (FeatureId.HasValue)
            {
                response = await FeatureService.UpdateFeatureAsync(feature);
            }
            else
            {
                response = await FeatureService.AddFeatureAsync(feature);
            }

            if (response.Success)
            {
                Snackbar.Add(response.Message, Severity.Success);
                NavigationManager.NavigateTo("/FeatureList");
            }
            else
            {
                Snackbar.Add(response.Message, Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/FeatureList");
    }


    private async Task LoadClusters()
    {
        try
        {
            var response = await clusterService.GetClustersAsync();
            if (response.Success)
            {
                clusters = response.Data;
            }
            else
            {
                Snackbar.Add(response.Message, Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("An error occurred while loading clusters: " + ex.Message, Severity.Error);
            Console.Error.WriteLine($"Error in LoadClusters: {ex}");
        }
    }

}
