@page "/AddEditModelYear/{ModelYearId:long?}"
@using Ecommerce.Shared.Entities.ModelYears
@inject IModelYearService ModelYearService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@using Ecommerce.Shared.Services.ModelYears;
@using Ecommerce.Shared.Services.Shared;
@rendermode InteractiveServer

<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/ModelYearList">Model Years</a></li>
            <li class="breadcrumb-item active">Model Year</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Model Year Form</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <EditForm Model="@modelYear" OnValidSubmit="@HandleValidSubmit" FormName="modelYearForm">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="Year">Year</label>
                            <InputNumber id="Year" class="form-control" @bind-Value="modelYear.Year" />
                            <ValidationMessage For="@(() => modelYear.Year)" />
                        </div>
                        <div class="col-2 mt-15px">
                            <button type="submit" class="btn btn-primary">Save</button>
                          
                        </div>

                        <div class="col-12">

                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> Back to previous page
                            </a>



                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public long? ModelYearId { get; set; }
    private ModelYear modelYear = new ModelYear();

    protected override async Task OnInitializedAsync()
    {
        if (ModelYearId.HasValue)
        {
            var response = await ModelYearService.GetModelYearByIdAsync(ModelYearId.Value);
            if (response.Success)
            {
                modelYear = response.Data;
            }
            else
            {
                Snackbar.Add(response.Message, Severity.Error);
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            ServiceResponse<ModelYear> response;
            if (ModelYearId.HasValue)
            {
                response = await ModelYearService.UpdateModelYearAsync(modelYear);
            }
            else
            {
                response = await ModelYearService.AddModelYearAsync(modelYear);
            }

            if (response.Success)
            {
                Snackbar.Add(response.Message, Severity.Success);
                await Task.Delay(1000);
                NavigationManager.NavigateTo("/ModelYearList");
            }
            else
            {
                Snackbar.Add(response.Message, Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/ModelYearList");
    }
}
