
@page  "/about"

@inject IJSRuntime JS


<div class="header-about">
    <!-- ====== 2.2. hero section ====== -->
    <div class="container">
        <h2> Over cicocafe.com </h2>
    </div>
    <!-- ====== End of 2.2. hero section ====== -->
</div>


<!-- ====== 2.3. About us section ====== -->
<div class="about_img">
    <div data-aos="zoom-in" class="container d-flex justify-content-center">
        <img src="/assets/placeholderimages/about/ab-img.png" alt="img" />
    </div>
</div>
<section class="about ab-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-up">
                <div class="d-flex gap-3 align-items-center">
                    <hr>
                    <h5>Over Cicosafe. </h5>
                </div>
                <h2 class="h2_margin">
                    100% Veilige Methode voor het Digitaal Opslaan van Uw Bezittingen
                </h2>
                <p>
                    Indien u besluit een bezit opnieuw te verkopen, kunt u dit op Cicosafe. markeren als "publiceer voor verkoop." Uw bezittingen worden gecontroleerd als geregistreerde goederen, wat zorgt voor extra zekerheid voor kopers. Met een paar muisklikken kunt u de advertentie aanpassen, en uw product verhuist automatisch van uw dossier naar de webshop Cicocic.
                </p>
                <div class="d-flex align-items-center mt-4 gap-3">
                    <i class="fa-solid fa-check"></i>
                    <h5>
                        Als gebruiker krijgt u de status van agent. Alle agents hebben de bevoegdheid om bezittingen in Cicosafe. te beheren. Met deze rechten kunt u vrij en anoniem werken in uw eigen dashboard.
                    </h5>
                </div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <i class="fa-solid fa-check"></i>
                    <h5>
                        ALLEEN GEREGISTREERDE AGENTS MET EEN DOSSIER KUNNEN BEZITTINGEN OPSLAAN.
                    </h5>
                </div>
                <div class="d-flex gap-lg-4 gap-md-2 gap-sm-4 gap-2 mt-md-5 mt-sm-4 mt-4">
                    <a asp-controller="Services" asp-action="Index" class="btn_hover1">Registreer Nu</a>
                </div>
            </div>
            <div data-aos="fade-down" class="col-lg-6 col-md-6 mt-md-0 mt-sm-5 mt-5 position-relative d-flex justify-content-center align-items-center">
                <div class="about-mask">
                    <figure>
                        <img src="/assets/placeholderimages/about/about.png" alt="img">
                    </figure>
                </div>
                <div class="ab-count d-flex justify-content-center align-items-center flex-column text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <h2 class="count">5</h2>
                        <h2>+</h2>
                    </div>
                    <p>JAREN VAN ONTWIKKELING</p>
                </div>
                <div class="about-hr d-flex align-items-center gap-2">
                    <hr>
                    <h6>WIE ZIJN WIJ</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 2.3. About us section ====== -->
<!-- ====== 1.3. card section ====== -->
<section class="feature ab-feature">
    <div class="container">
        <div class="ab-fa-hr d-flex align-items-center gap-2 mb-3">
            <hr>
            <h6>Over Cicosafe.</h6>
        </div>
        <div class="row">
            <div data-aos="fade-up" class="col-lg-3 col-md-6">
                <div>
                    <figure><img src="/assets/Images/icon/feature1.png" class="feature-img1" alt="feature"></figure>
                    <h4>100% veilig methode door digitale opslag</h4>
                    <p>
                        Bij wederverkoop van uw product kunt u op Cicosafe. uw bezittingen markeren als "published" voor verkoop. Deze bezittingen worden gecontroleerd als geregistreerd goed, wat zorgt voor extra zekerheid voor kopers. De advertentie kan met een paar muisklikken worden aangepast, en uw product verhuist automatisch van uw dossier naar de webshop Cicocic.
                    </p>
                </div>
            </div>
            <div data-aos="fade-down" class="col-lg-3 col-md-6">
                <div>
                    <figure><img src="/assets/Images/icon/feature2.png" alt="feature"></figure>
                    <h4>Alleen voor geregistreerden Agents</h4>
                    <p>
                        Als nieuwe gebruiker krijgt u automatisch de status van Agent. Alle Agents hebben het recht om bezittingen in Cicosafe. op te voeren. Met deze rechten kunt u vrij en anoniem in uw eigen dashboard werken.
                    </p>
                </div>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-md-6">
                <div>
                    <figure><img src="/assets/Images/icon/feature3.png" alt="feature"></figure>
                    <h4>Verzekering Financiering Classified Insurance Certificat</h4>
                    <p>
                        Wij bieden u graag de diensten aan van onze geselecteerde businesspartners. Deze diensten omvatten financiering en verzekeringen.
                    </p>
                </div>
            </div>
            <div data-aos="fade-down" class="col-lg-3 col-md-6">
                <div>
                    <figure><img src="/assets/Images/icon/feature4.png" alt="feature"></figure>
                    <h4>Verlengde Garanties voor extra zekerheid </h4>
                    <p>
                        Als lid van de EU heeft Nederland de zorgplicht om duurzame producten gedurende een langere periode te kunnen blijven servicen. Wij kunnen hiervoor een oplossing bieden met een verlengde garantie.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.3. card section ====== -->
<!-- ====== 1.8. Experience section ====== -->
<section class="experience ab-experience">
    <div class="container">
        <div class="row text-md-start text-sm-center text-center" data-aos="fade-up">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="d-flex gap-3 justify-content-md-start justify-content-sm-center align-items-center justify-content-center">
                    <hr class="experience-hr1 m-0">
                    <h5>BEGRIPPEN</h5>
                </div>
                <h2 class="h2_margin">Waarom Kiezen Voor Cicosafe.</h2>
                <p>
                    Cicosafe. is een digitale kluis waar u anoniem al uw roerende goederen en bezittingen veilig kunt opslaan. Cicosafe versnelt het proces van het registreren en opslaan van al uw huiselijke bezittingen. Door uw goederen te registreren, heeft u bij wederverkoop of in geval van diefstal direct alle benodigde informatie beschikbaar.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-md-0 mt-sm-4 mt-4 d-flex align-items-center justify-content-md-end justify-content-sm-center justify-content-center">
                <a asp-controller="Services" asp-action="Index" class="btn_hover1">Bekijk Hier</a>
            </div>
            <hr>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 position-relative d-flex justify-content-center" data-aos="zoom-in">
                <div class="experience_mask">
                    <figure><img src="/assets/placeholderimages/about/experience.png" alt="img"></figure>
                </div>
                <div class="experience-hr d-flex align-items-center gap-2">
                    <hr>
                    <h6>UW ZEKERHEID</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex flex-column gap-lg-4 gap-md-3 gap-sm-4 gap-4 mt-md-0 mt-sm-5 mt-5">
                <div class="d-flex align-items-center gap-4 ex-card" data-aos="fade-up">
                    <div class="d-flex align-items-center justify-content-center">
                        <h3 class="count">99</h3>
                        <h3>%</h3>
                    </div>
                    <div>
                        <h4>>Veiligheid, Gemak & Privacy</h4>
                        <p>
                            Zonder kosten heeft u uw eigen Digitale Kluis. Een persoonlijk dashboard biedt u gemak, nu en in de toekomst. Cicosafe biedt een veilige haven voor uw roerende zaken en bezittingen. Jaarlijks verliezen veel huishoudens waardevolle bezittingen door brand of inbraak. Vaak staan we er niet bij stil, maar het kan iedereen overkomen. Zonder goed overzicht is het lastig te achterhalen wat precies ontbreekt. Daarnaast is de herkomst van eigendom essentieel! Ontbreken er gegevens, dan is de kans om uw bezittingen terug te vinden klein. Cicosafe biedt een oplossing die u weinig tijd kost, maar u veel oplevert. Wij zorgen voor rust, gemak en hoogwaardige archivering van uw waardevolle spullen.
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-4 ex-card" data-aos="fade-up" data-aos-delay="300">
                    <div class="d-flex align-items-center justify-content-center">
                        <h3 class="count">100</h3>
                        <h3>%</h3>
                    </div>
                    <div>
                        <h4>Verkoop van uw bezittingen</h4>
                        <p>
                            Met één handeling op uw persoonlijke dashboard staat uw bezit te koop in de webshop. Denk bijvoorbeeld aan de verkoop van uw tweedehands elektrische fiets. Wanneer deze fiets is geregistreerd in de webapplicatie Cicosafe.com, zijn alle gegevens over de fiets beschikbaar. U kunt eenvoudig nagaan of het om een veilige koop gaat. U verkoopt rechtstreeks via onze webshop aan de koper.
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-4 ex-card" data-aos="fade-up" data-aos-delay="400">
                    <div class="d-flex align-items-center justify-content-center">
                        <h3 class="count">100</h3>
                        <h3>%</h3>
                    </div>
                    <div>
                        <h4>Veiligheid en Privacy</h4>
                        <p>
                            Bij Cicosafe. staat uw privacy altijd voorop. Wij verzamelen geen persoonlijke informatie; alleen uw e-mailadres is voldoende voor registratie. Na aanmelding ontvangt u automatisch een inlog en wachtwoord, zonder dat wij verdere persoonlijke gegevens nodig hebben. Dit betekent dat wij niet weten wie wat heeft ingevoerd en waar het te vinden is.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.8. Experience section ====== -->
<!-- ====== 1.4. logoipsum section ====== -->
<section class="logoipsum">
    <div class="container text-center gap-4 d-flex flex-column">
        <hr class="hr1">
        <h3 data-aos="zoom-in">REGISTREER OF SELECTEER IN CICOSAFE. HAAR CATAGORIEN</h3>
        <div class="logoipsum-slider" data-aos="zoom-in">
            <figure><svg src="/assets/Images/home/logoipsum1.svg" alt="logoipsum" /></figure>
            <figure><img src="/assets/Images/home/logoipsum2.svg" alt="logoipsum"></figure>
            <figure><img src="/assets/Images/home/logoipsum3.svg" alt="logoipsum"></figure>
            <figure><img src="/assets/Images/home/logoipsum4.svg" alt="logoipsum"></figure>
            <figure><img src="/assets/Images/home/logoipsum5.svg" alt="logoipsum"></figure>
            <figure><img src="/assets/Images/home/logoipsum6.svg" alt="logoipsum"></figure>
        </div>
        <hr class="hr2">
    </div>
</section>
<!-- ====== End of 1.4. logoipsum section ====== -->
<!-- ====== 1.9. How we work section ====== -->
<section class="work">
    <div class="container position-relative">
        <div class="work-para text-center" data-aos="fade-up">
            <h5>OPSLAAN IN CICOSAFE. </h5>
            <h2 class="h2_margin">NU UW BEZIT REGISTREREN IN 4 STAPPEN</h2>
            <p>
                Uw eigen digitale kluis is gratis en biedt naast gemak ook een dashboard voor nu en in de toekomst.
            </p>
        </div>
        <div class="work-hr d-flex align-items-center gap-2">
            <hr>
            <h6>Project Stappenplan</h6>
        </div>
        <div class="work-line d-flex justify-content-center gap-4 flex-wrap position-relative">
            <div data-aos="zoom-in">
                <h2>01.</h2>
                <h4>Zoek uw bezit in onze catalogus</h4>
            </div>
            <div data-aos="zoom-in">
                <h2>02.</h2>
                <h4>Registreer en bepaal de waarde</h4>
            </div>
            <div data-aos="zoom-in">
                <h2>03.</h2>
                <h4>Toevoegen aan Uw dossier</h4>
            </div>
            <div data-aos="zoom-in">
                <h2>04.</h2>
                <h4>Extra documenten en foto's opslaan</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center" data-aos="zoom-in">
            <a href="contact.html" class="btn_hover2">Registreer nu</a>
        </div>
    </div>
</section>
<!-- ====== End of 1.9. How we work section ====== -->
<!-- ====== 1.11. team section ====== -->
<section class="team">
    <div class="container">
        <div class="row text-md-start text-sm-center text-center" data-aos="fade-up">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="d-flex gap-3 justify-content-md-start justify-content-sm-center justify-content-center align-items-center">
                    <hr class="team-hr1">
                    <h5>Onze Agents Zijn Onze Gebruikers</h5>
                </div>
                <h2 class="h2_margin">
                    Maak kennis met onze Agents: wie zijn zij?
                </h2>
                <p>
                    Enkele van onze Agents. Deze Agents treden uit hun anonimiteit om hun ervaringen met Cicosafe. te delen.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-md-0 mt-sm-4 mt-4 d-flex align-items-center justify-content-md-end justify-content-sm-center justify-content-center">
                <a asp-controller="Team" asp-action="Index" class="btn_hover2">Alle Agents</a>
            </div>
        </div>
        <div class="team-slider mt-5" data-aos="zoom-in">
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider1.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Jolanda</h3>
                        <h4>Thuisbegeleider</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider2.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Warner</h3>
                        <h4>Kapper</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider3.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Louis</h3>
                        <h4>Ontwikkelaar</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider4.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Annie</h3>
                        <h4>Huisvrouw</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider1.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Janet</h3>
                        <h4>Onderneemster</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider2.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Katti</h3>
                        <h4>Interieurexpert</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider3.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Agent Johnny</h3>
                        <h4>Ziekenhuis medewerker</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider4.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Anni Doe</h3>
                        <h4>Ui / Ux</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider1.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Jane Doe</h3>
                        <h4>electronicaer</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider2.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Katti Pairi</h3>
                        <h4>verzorging expert</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider3.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Jonny Coll</h3>
                        <h4>Developer</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-img">
                <img src="/assets/placeholderimages/slider/team-slider4.png" alt="Avatar">
                <div class="overlay">
                    <div class="overlay_text">
                        <h3>Anni Doe</h3>
                        <h4>Ui / Ux</h4>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-btn">
        <div data-aos="zoom-in" class="container d-flex align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center justify-content-center text-center gap-4 flex-wrap">
            <h4>
                Deel uw ervaringen met anderen door reviews in uw dashboard te plaatsen.
            </h4>
            <a href="contact.html" class="btn_hover2">Registreer Nu</a>
        </div>
    </div>
</section>
<!-- ====== End of 1.11. team section ====== -->
<!-- ====== 1.13. FAQ section ====== -->
<section class="faq position-relative">
    <span> </span>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 text-md-start text-sm-center text-center" data-aos="fade-up">
                <div class="d-flex gap-3 justify-content-md-start justify-content-sm-center justify-content-center align-items-center">
                    <hr class="faq-hr1">
                    <h5>VOORDEEL VOOR IEDEREEN</h5>
                </div>
                <h2 class="h2_margin">Eerst en vooral comfort voor u. Zowel de politie als verzekeringsmaatschappijen hebben er baat bij.</h2>
                <p>
                    Cicosafe is een preventieve website die ervoor zorgt dat u, mocht u slachtoffer worden van inbraak, diefstal of brand, te allen tijde een goed en gedetailleerd overzicht van uw bezittingen heeft. Alle kostbare spullen die u mist, zijn vastgelegd met duidelijke omschrijvingen, certificaten met datums, aankoopbewijzen en foto’s.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 mt-md-0 mt-sm-4 mt-4">
                <div class="accordion d-flex flex-column gap-4" id="accordionExample" data-aos="fade-down">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapverzorgingne" aria-expanded="true" aria-controls="collapverzorgingne">
                                BETERE DATA AANVOER BIJ PROCESVERBAAL/AANGIFTE'S
                            </button>
                        </h2>
                        <div id="collapverzorgingne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    De politie kan, wanneer spullen in beslag zijn genomen, veel sneller en doelgerichter vaststellen wie de rechtmatige eigenaar is van de teruggevonden goederen. Vaak worden er spullen in beslag genomen ver van de plaats waar ze gestolen zijn. Momenteel komt slechts 1% van alle in beslag genomen spullen terug bij de rechtmatige eigenaar, wat een tijdrovende bezigheid voor de politie is.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                VERZEKERINGSMAATSCHAPPIJ WERKEN GRAAG MEE
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Bij uw aangifte heeft de politie een duidelijk beeld van de schade en het bijbehorende bedrag. Door de heldere omschrijving, de foto’s en eventuele aankoopbewijzen krijgen zij een goed inzicht in wat zij moeten uitkeren. Als iemand een artikel wil kopen en dit wordt goedkoop aangeboden, kan iedereen via gestolenspullen.nl controleren of het gestolen is en de desbetreffende politie inlichten.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BEANTWOORDT VOLGENDE VRAGEN VOOR UZELF EN ONTDEK WAT CICOSAFE. VOOR KAN BETEKENEN?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Stelt u zich voor dat u na enkele jaren uw bezittingen wilt verkopen. Dan heeft u met één muisklik toegang tot alle benodigde kenmerken in een bestand dat u uit uw eigen digitale kluis kunt ophalen. Alles wat bij het te verkopen bezit hoort, is al eerder apart opgeslagen, inclusief alle bijlagen.
                                    Stelt u zich voor: er wordt ingebroken en er is van alles gestolen. Wanneer heeft u de tv gekocht en wat was de prijs?
                                    Hoe groot was de laptop die u van uw moeder heeft gekregen, en wat waren de specifieke kenmerken? Heeft u foto's van de gestolen sieraden en wat was hun geschatte waarde? Welk merk en type had uw fototoestel, wanneer heeft u deze aangeschaft en wat was de prijs?
                                    U zult merken dat het moeilijk kan zijn om deze vragen goed te beantwoorden. Hier biedt Cicosafe de oplossing!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingfour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                GOEDEREN WELKE GEREGISTREERD STAAN ZIJN EENMAAL MINDER INTERESSANT
                            </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    De grootste winst is echter dat het voor dieven en helers minder aantrekkelijk wordt om uw spullen te stelen of te verhandelen, omdat uw goederen geregistreerd zijn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====== End of 1.13. FAQ section ====== -->

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender)
            {
            await JS.InvokeVoidAsync("initializeTeamSlider");
            await JS.InvokeVoidAsync("AOS.init");
            await JS.InvokeVoidAsync("initializeSlickSlider");
            }
        }}