
@page  "/blog"

    <div class="header-service">
        <!-- ====== 3.2. hero section ====== -->
        <section class="container serv-hero">
            <h2> Latest Posts </h2>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#">Home</a>
                <span> // </span>
                <a href="#">Blog</a>
            </div>
        </section>
        <!-- ====== End of 3.2. hero section ====== -->
    </div>



    <!-- ====== 1.14. Blogs section ====== -->
    <section class="blog">
        <div class="container">
            <div class="d-flex flex-wrap flex-md-row flex-sm-column flex-column align-items-center gap-md-0 gap-sm-4 gap-4">
                <div data-aos="fade-up" class="blog-card w-100">
                    <img src="/assets/placeholderimages/blog/blog1.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Een Team Van Ontwikkelaars Zorgen Dat Alles Goed Wordt Verwerkt
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
                <div data-aos="fade-down" class="blog-card w-100">
                    <img src="/assets/placeholderimages/blog/blog2.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Belangrijk: Zoveel Mogelijk Opslaan In Uw Dashboard
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
                <div data-aos="fade-up" class="blog-card w-100">
                    <img src="/assets/placeholderimages/blog/blog3.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Samen Zorgdragen Voor De Beste Sociale Media Strategy
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
                <div data-aos="fade-up" class="blog-card w-100 mt-md-5 mt-sm-0 mt-0">
                    <img src="/assets/placeholderimages/blog/blog4.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Een Team Van Ontwikkelaars Zorgen Dat Alles Goed Wordt Verwerkt
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
                <div data-aos="fade-down" class="blog-card w-100 mt-md-5 mt-sm-0 mt-0">
                    <img src="/assets/placeholderimages/blog/blog5.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Samen Zorgdragen Voor De Beste Sociale Media Strategy
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
                <div data-aos="fade-up" class="blog-card w-100 mt-md-5 mt-sm-0 mt-0">
                    <img src="/assets/placeholderimages/blog/blog6.png" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h4>
                            Belangrijk: Zoveel Mogelijk Opslaan In Uw Dashboard
                        </h4>
                        <a href="#">Ervaar Meer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== End of 1.14. Blogs section ====== -->