

@page  "/portfolio"


<div class="header-service">
    <!-- ====== 3.2. hero section ====== -->
    <section class="container serv-hero">
        <h2> Cicosafe.com</h2>
        <div class="d-flex justify-content-center align-items-center">
            <a href="#">Home</a>
            <span> // </span>
            <a href="#">Al onze catagorien</a>
        </div>
    </section>
    <!-- ====== End of 3.2. hero section ====== -->
</div>



<!-- ====== 1.6. gallary section ====== -->
<section class="portfolio">
    <div class="gallary">
        <div class="ga-bg"> </div>
        <!-- overly -->
        <span> </span>
        <div class="container mt" data-aos="fade-up">
            <!-- Tab links -->
            <div class="tab mb-4">
                <button class="tablinks active" onclick="open_img(event, 'all')">ALL</button>
                <button class="tablinks" onclick="open_img(event, 'electronica')">ELECTRONICA</button>
                <button class="tablinks" onclick="open_img(event, 'sporten')">SPORTEN</button>
                <button class="tablinks" onclick="open_img(event, 'auto | fiets')">AUTO | FIETS</button>
                <button class="tablinks" onclick="open_img(event, 'huis')">HUIS</button>
                <button class="tablinks" onclick="open_img(event, 'tuin | klussen')">TUIN | KLUSSEN</button>
                <button class="tablinks" onclick="open_img(event, 'speelgoed | kids')">SPEELGOED | KIDS</button>
                <button class="tablinks" onclick="open_img(event, 'verzorging')">VERZORGING</button>
            </div>
            <!-- Tab content -->
            <div id="all" class="tabcontent" style="display: block;">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-1.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-2.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-4.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-5.png" alt="img" /></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-6.png" alt="sm_img" /></figure>
                            <figure><img src="/assets/placeholderimages/home/all-gallary-7.png" alt="sm_img" /></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-8.png" alt="img" /></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="electronica" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/Images/Categories/Elektronica/Apple watch.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://images.pexels.com/photos/1983037/pexels-photo-1983037.jpeg?auto=compress&cs=tinysrgb&w=600" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://images.pexels.com/photos/18311089/pexels-photo-18311089/free-photo-of-laptop-iphone-and-headphones.jpeg?auto=compress&cs=tinysrgb&w=600" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://images.pexels.com/photos/19012033/pexels-photo-19012033/free-photo-of-gaming-computer-mouse.jpeg?auto=compress&cs=tinysrgb&w=600" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=600" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/Images/Categories/Elektronica/Asus monitor.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sporten" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/Images/Categories/Sporten/Bal.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/Images/Categories/Sporten/Hometrainer.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/Images/Categories/Sporten/Multifit.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://m.media-amazon.com/images/I/71gr+wP4EaL._AC_UL480_FMwebp_QL65_.jpg" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://img.kwcdn.com/product/fancy/34f54314-4d16-4421-ba35-58f93a9d8c32.jpg?imageView2/2/w/500/q/60/format/webp" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="https://img.kwcdn.com/product/1e2331575e/1a65c69c-e443-4892-9b7d-04921bd0f367_800x800.jpeg?imageView2/2/w/800/q/70/format/webp" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>


            <div id="auto | fiets" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="/assets/Images/Categories/Fiets Auto/Autoradio.png" alt="img" class="fit-image">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="https://th.bing.com/th/id/OIP.o41OKOLlXg9U_xB0Sfi-GgHaFj?rs=1&pid=ImgDetMain" alt="img" class="fit-image">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="/assets/Images/Categories/Fiets Auto/Fietsdrager.png" alt="img" class="fit-image">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="/assets/Images/Categories/Fiets Auto/Fietshelm.png" alt="img" class="fit-image">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="https://m.media-amazon.com/images/I/41pAPg7ZjuL._AC_UF480,480_SR480,480_.jpg" alt="img" class="fit-image">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure>
                                <img src="https://m.media-amazon.com/images/I/41B5qQx2mQL._AC_UF480,480_SR480,480_.jpg" alt="img" class="fit-image">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div id="huis" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/81L27fi5fYL._AC_SL1500_.jpg" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Huis/Waterkoker Philips.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41qtYPKgq7L._AC_UF480,480_SR480,480_.jpg" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/31Vzbc5m5gL._AC_UF480,480_SR480,480_.jpg" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41u+78zVcdL._AC_UF480,480_SR480,480_.jpg" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/411hVVW+M5L._AC_UF480,480_SR480,480_.jpg" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                    </div>


                </div>
            </div>
            <div id="tuin | klussen" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Boormachine.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Grasmaaier Einzell.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Kantjesmaaier.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Makita boor.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Naamloos.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="/assets/Images/Categories/Klussen Tuin/Schroefmachine.png" alt="img" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="speelgoed | kids" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/51eQPRuVIEL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 1" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41E0RUDvTiL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 2" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41dCEMkwNvL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 3" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/51OPi72IR4L._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 4" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41vpM9tJ4kL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 5" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41ZfYsyn00L._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 6" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
            <div id="verzorging" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41DaRvePjjL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 1" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/61q55trDInL._AC_UL480_FMwebp_QL65_.jpg" alt="Kids Toy 2" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/61L62zQuNIL._AC_UL480_QL65_.jpg" alt="Kids Toy 3" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/31wHHA9c15L._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 4" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/41shw3a8GsL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 5" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure style="margin: 1px;">
                                <img src="https://m.media-amazon.com/images/I/51xum8VAcaL._AC_UF480,480_SR480,480_.jpg" alt="Kids Toy 6" style="border: 0.5px solid #ccc;">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallary-hr d-flex gap-3 justify-content-end align-items-center mt-4">
                <h6>Creative Solution</h6>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.6. gallary section ====== -->