

@page  "/portfolio"


<div class="header-service">
    <!-- ====== 3.2. hero section ====== -->
    <section class="container serv-hero">
        <h2> Cicosafe.com</h2>
        <div class="d-flex justify-content-center align-items-center">
            <a href="#">Home</a>
            <span> // </span>
            <a href="#">Al onze catagorien</a>
        </div>
    </section>
    <!-- ====== End of 3.2. hero section ====== -->
</div>



<!-- ====== 1.6. gallary section ====== -->
<section class="portfolio">
    <div class="gallary">
        <div class="ga-bg"> </div>
        <!-- overly -->
        <span> </span>
        <div class="container mt" data-aos="fade-up">
            <!-- Tab links -->
            <div class="tab mb-4">
                <button class="tablinks active" onclick="open_img(event, 'all')">ALL</button>
                <button class="tablinks" onclick="open_img(event, 'electronica')">ELECTRONICA</button>
                <button class="tablinks" onclick="open_img(event, 'sporten')">SPORTEN</button>
                <button class="tablinks" onclick="open_img(event, 'auto | fiets')">AUTO | FIETS</button>
                <button class="tablinks" onclick="open_img(event, 'huis')">HUIS</button>
                <button class="tablinks" onclick="open_img(event, 'tuin | klussen')">TUIN | KLUSSEN</button>
                <button class="tablinks" onclick="open_img(event, 'speelgoed | kids')">SPEELGOED | KIDS</button>
                <button class="tablinks" onclick="open_img(event, 'verzorging')">VERZORGING</button>
            </div>
            <!-- Tab content -->
            <div id="all" class="tabcontent" style="display: block;">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-1.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-2.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-4.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-5.png" alt="img" /></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-6.png" alt="sm_img" /></figure>
                            <figure><img src="/assets/placeholderimages/home/all-gallary-7.png" alt="sm_img" /></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/all-gallary-8.png" alt="img" /></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="electronica" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-6.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-7.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-1.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-10.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-11.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sporten" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-11.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-10.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-1.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-6.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/design-gallary-7.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div><div id="auto | fiets" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-4.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-5.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-6.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-9.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/dev-gallary-8.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="huis" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/brand-gallary-6.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/brand-gallary-8.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tuin | klussen" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/ui-ux-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/ui-ux-gallary-4.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="speelgoed | kids" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/market-gallary-1.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/market-gallary-2.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/home/market-gallary-3.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/home/market-gallary-4.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="verzorging" class="tabcontent">
                <div class="d-flex justify-content-center">
                    <div class="row w-100">
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/seo-gallary-4.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/seo-gallary-5.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/seo-gallary-7.png" alt="img"></figure>
                        </div>
                        <div class="col-md-8 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/seo-gallary-6.png" alt="img"></figure>
                        </div>
                        <div class="col-md-4 p-0">
                            <figure><img src="/assets/placeholderimages/portfolio/seo-gallary-8.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallary-hr d-flex gap-3 justify-content-end align-items-center mt-4">
                <h6>Creative Solution</h6>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.6. gallary section ====== -->