


@page  "/team"



<div class="header-service">
    <!-- ====== 3.2. hero section ====== -->
    <section class="container serv-hero">
        <h2> Onze Agents </h2>
        <div class="d-flex justify-content-center align-items-center">
            <a href="#">Home</a>
            <span> // </span>
            <a href="3">Agents</a>
        </div>
    </section>
    <!-- ====== End of 3.2. hero section ====== -->
</div>



<!-- ====== 1.11. team section ====== -->
<section id="team">
    <div class="container">
        <div class="row d-flex justify-content-center ps-3 pe-3">
            <div data-aos="fade-up" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team1.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Jolanda</h3>
                            <h4>Thuisbegeleider</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team2.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Warner</h3>
                            <h4>Kapper</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team3.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Louis</h3>
                            <h4>Ontwikkelaar</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team4.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Annie</h3>
                            <h4>Huisvrouw</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team5.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Janet</h3>
                            <h4>Onderneemster</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team6.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Katti</h3>
                            <h4>Interieurexpert</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team7.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Johnny</h3>
                            <h4>Ziekenhuis medewerker</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="col-md-3 col-sm-6 p-0">
                <div class="team-img">
                    <img src="/assets/placeholderimages/team/team8.png" alt="Avatar">
                    <div class="overlay">
                        <div class="overlay_text">
                            <h3>Agent Stephan</h3>
                            <h4>Verkoper</h4>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.11. team section ====== -->
<!-- ====== 1.10. Testimonials section ====== -->
<section class="testimonial">
    <div class="container" data-aos="zoom-in">
        <div class="position-relative d-flex flex-column align-items-center">
            <div class="testimonial_hr d-flex gap-2 align-items-center">
                <hr>
                <h6>Testimonials</h6>
            </div>
            <h3>LEES DE ERVARINGEN VAN ONZE AGENTS</h3>
        </div>
        <div class="testimonial_slider mt-3 ps-md-5 ms-sm-4 ps-1 pe-md-5 pe-sm-4 pe-1">
            <div class="text-center">
                <p>
                    De invoer van mijn huisinboedel ging zeer eenvoudig. De meeste bezittingen werden herkent in de catalogus. Daardoor ging het registreren snel de meeste gegevens waren al beschikbaar. Nu heb ik een lijst voor mijn inboedel verzekering. Handig is het opslaan van facturen en schade aan de producten.Een aanrader.
                </p>
                <h5>Jan Brouwer</h5>
                <h6>Leraar</h6>
            </div>
            <div class="text-center">
                <p>
                    Ongekend handige site. Al De mijn bezittingen in een paar uur digitaal. Het registreren snel en overzichtelijk. Verbazingswekkend dat veel producten en haar specificaties al beschikbaar waren. Handig is het later ook de gegevens te kunnen wijzigen na opslaan. Blijvertje.
                </p>
                <h5>Maria Brand</h5>
                <h6>Werkzaam bij gemeente instelling</h6>
            </div>
            <div class="text-center">
                <p>
                    Een overzittelijke landingspagina. Doet wat het zegt:  Mijn spullen in nu eindelijk digitaal.
                </p>
                <h5>Cornelis Vreeswijk</h5>
                <h6>Brandmeester</h6>
            </div>
        </div>
    </div>
</section>
<!-- ====== End of 1.10. Testimonials section ====== -->