
@page  "/testimonials"




    <div class="header-service">
        <!-- ====== 3.2. hero section ====== -->
        <section class="container serv-hero">
            <h2> Testimonials </h2>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#">Home</a>
                <span> // </span>
                <a href="#">Testimonials</a>
            </div>
        </section>
        <!-- ====== End of 3.2. hero section ====== -->
    </div>



    <!-- ====== 5.1. Testimonials section ====== -->
    <section class="testimonial">
    <div class="container" data-aos="zoom-in">
        <div class="position-relative d-flex flex-column align-items-center">
            <div class="testimonial_hr d-flex gap-2 align-items-center">
                <hr>
                <h6>Testimonials</h6>
            </div>
            <h3>LEES DE ERVARINGEN VAN ONZE AGENTS</h3>
        </div>
        <div class="testimonial_slider mt-3 ps-md-5 ms-sm-4 ps-1 pe-md-5 pe-sm-4 pe-1">
            <div class="text-center">
                <p>
                    De invoer van mijn huisinboedel was heel eenvoudig. De meeste bezittingen werden herkend in de catalogus, waardoor het registreren snel ging; de meeste gegevens waren al beschikbaar. Nu heb ik een overzicht voor mijn inboedelverzekering. Het is ook handig dat ik facturen en schade aan de producten kan opslaan. Ik raad Cicosafe zeker aan!
                </p>
                <h5>Jan Brouwer</h5>
                <h6>Leraar</h6>
            </div>
            <div class="text-center">
                <p>
                    Ongekend handige site! In een paar uur had ik al mijn bezittingen digitaal geregistreerd. Het registreren ging snel en overzichtelijk. Het is verbazingwekkend hoeveel producten en hun specificaties al beschikbaar waren. Daarnaast is het heel handig dat ik de gegevens later ook kan wijzigen na het opslaan. Dit is een blijvertje!
                </p>
                <h5>Maria Brand</h5>
                <h6>Werkzaam bij gemeente instelling</h6>
            </div>
            <div class="text-center">
                <p>
                    Een overzichtelijke landingspagina! Het doet precies wat het belooft: mijn spullen zijn nu eindelijk digitaal geregistreerd. Het kan niet beter!
                </p>
                <h5>Cornelis Vreeswijk</h5>
                <h6>Brandmeester</h6>
            </div>
        </div>
        <div class="agency" data-aos="zoom-in">
            <hr class="agency-hr1">
            <div class="star-slider mt-5 d-flex flex-wrap">
                <h3>Jan </h3>
                <i class="fa-solid fa-star"></i>
                <h3>Maria</h3>
                <i class="fa-solid fa-star"></i>
                <h3>Cormelis </h3>
            </div>
            <hr class="agency-hr2">
        </div>
    </div>
    </section>
    <!-- ====== End of 5.1. Testimonials section ====== -->