<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> E-Commerce Front End Theme</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/assets/css/e-commerce/vendor.min.css" rel="stylesheet" />
    <link href="/assets/css/e-commerce/app.min.css" rel="stylesheet" />

    <style>
        #blazor-error-ui {
            background: lightyellow;
            bottom: 0;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
            display: none;
            left: 0;
            padding: 0.6rem 1.25rem 0.7rem 1.25rem;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

            #blazor-error-ui .dismiss {
                cursor: pointer;
                position: absolute;
                right: 0.75rem;
                top: 0.5rem;
            }
    </style>
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/js/e-commerce/vendor.min.js"></script>
    <script src="/assets/js/e-commerce/app.min.js"></script>
</body>

</html>
