@inherits LayoutComponentBase
@using Ecommerce.Web.Components.Toast
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ICategoryService CategoryService
@inject IBrandService BrandService



<div id="app" class="fade show">
    <NavMenu></NavMenu>
    <Header></Header>

    @Body
    <Footer></Footer>
</div>




<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    private List<CategoryDto> Categories { get; set; } = new List<CategoryDto>();
    private List<Brand> Brands { get; set; } = new List<Brand>();
    private bool dataLoaded = false;


}