
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage ProtectedSessionStore

<style>
    /*    .search-container {
            flex-grow: 1;
            padding: 0 20px;
        }
    */
    .search-input {
        width: 80%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
</style>
<div id="top-nav" class="top-nav ">
    <!-- BEGIN container -->
    <div class="container-fluid mt-2 mb-2">

        <div class="collapse navbar-collapse">

            <div class="header-logo" style="margin-right:10px">
                <a href="/">
                    <span class="brand-logo">  <img src="/assets/img/Logo/thumb_Wit op transparantSmall.png" style="max-height:30px" /></span>

                </a>
            </div>

            <div class="search-container flex-grow-1 d-flex align-items-center">

                <div class="mx-10px">

                    <span class="text-ligt" style="font-size: 0.8rem; color: rgba(255, 255, 255, 0.7);">&nbsp;&nbsp;  Deliver to</span>
                    <span class="text-white">
                        <b style="display: flex; align-items: center;">
                            <i class="bi bi-geo-alt" style="margin-right: 5px;"></i> Ireland
                        </b>
                    </span>

                </div>



                <div class="input-group mx-10px">
                    <input type="text" class="form-control" placeholder="Search cicocic items">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="nav navbar-nav">

            </div>
            <ul class="nav navbar-nav navbar-end">
                <li>  <a href="#" data-bs-toggle="dropdown"><img src="../assets/img/flag/flag-english.png" class="flag-img" alt="" /> English <b class="caret"></b></a></li>


                <li>
                    <a href="/Signup">
                        Hello,
                        @if (!String.IsNullOrEmpty(userName))
                            {
                            <span class="d-none d-xl-inline"><b>@userName</b></span>
                            }
                        else
                            {
                            <span class="d-none d-xl-inline"><b>Login / Register</b></span>
                            }

                    </a>
                </li>


                <li><a href="#"><i class="fab fa-facebook-f f-s-14"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram f-s-14"></i></a></li>
                <li><a href="#"><i class="fab fa-google f-s-14"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- END container -->
</div>

@code {
    private string userName = string.Empty;

    private bool hasInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender && !hasInitialized)
            {
            var result = await ProtectedSessionStore.GetAsync<string>("UserName");

            if (result.Success && !string.IsNullOrEmpty(result.Value))
                {
                userName = result.Value;
                }
            hasInitialized = true;

            // Now that we have the value, trigger re-render
            StateHasChanged();
            }
        }

}