<div id="top-nav" class="top-nav" style=" height:75px; display: flex; justify-content: center; align-items: center;">
    <!-- BEGIN container -->
    <div class="container">
        <div class="collapse navbar-collapse">

            <div class="header-logo" style="margin-right:10px">
                <a href="/">
                    <span class="brand-logo">  <img src="/assets/img/Logo/thumb_Wit op transparantSmall.png" style="max-height:30px" /></span>

                </a>
            </div>

            <ul class="nav navbar-nav">

                <li><a href="#">Help and information</a></li>
                <li><a href="#">Conditions</a></li>
                <li><a href="#">Safety center</a></li>

                <li class="dropdown">
                    <a href="#" data-bs-toggle="dropdown">
                        <i class="fa fa-search search-btn"></i>
                        <span class="arrow top"></span>
                    </a>
                    <div class="dropdown-menu p-15px" style="width:250px">
                        <form action="#search" method="POST" name="search_form">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control bg-light" />
                                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </li>


            </ul>

            @*<ul class="nav navbar-nav">
            <li class="dropdown dropdown-hover">
                <a href="#" data-bs-toggle="dropdown"><img src="../assets/img/flag/flag-english.png" class="flag-img" alt="" /> English <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-english.png" class="flag-img" alt="" /> English</a></li>
                    <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-german.png" class="flag-img" alt="" /> German</a></li>
                    <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-spanish.png" class="flag-img" alt="" /> Spanish</a></li>
                    <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-french.png" class="flag-img" alt="" /> French</a></li>
                    <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-chinese.png" class="flag-img" alt="" /> Chinese</a></li>
                </ul>
            </li>
            <li><a href="#">Customer Care</a></li>
            <li><a href="#">Order Tracker</a></li>
        </ul>*@
        <ul class="nav navbar-nav navbar-end">









            <li>
                <a href="/">
                    <img src="../assets/img/user/user-1.jpg" style="float:left;width:36px; height: 36px; border-radius:120px;" />

                    <span class="d-none d-xl-inline">Login / Register</span>
                </a>
            </li>

         
                <li class="dropdown dropdown-hover">
                    <a href="#" data-bs-toggle="dropdown"><img src="../assets/img/flag/flag-english.png" class="flag-img" alt="" /> English <b class="caret"></b></a>
                   
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/flag-english.png" class="flag-img" alt="" /> English</a></li>
                        <li><a href="#" class="dropdown-item"><img src="../assets/img/flag/OIP.jpg" class="flag-img" alt="" /> Dutch</a></li>

                    </ul>
                </li>
                
         

            @*<li>

            <div class="input-group">
                <input type="text" placeholder="Search" class="form-control bg-light" style="width:300px" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

        </li>*@


        </ul>
        </div>
    </div>
    <!-- END container -->
</div>