<div class="container mt-1">
  
    <div class="tab-pane fade active show" id="address" role="tabpanel">
        <h5 class="mb-4">ADDRESS</h5>
        <div class="addresses-content">
            <p class="mb-4">
                The following addresses will be used on the checkout page by
                default.
            </p>

            <div class="row">
                <div class="address col-md-6">
                    <div class="heading d-flex">
                        <h4 class="text-dark mb-0">Billing address</h4>
                    </div>

                    <div class="address-box">
                        You have not set up this type of address yet.
                    </div>

                    <a href="#billing" class="btn btn-default address-action link-to-tab">
                        Add
                        Address
                    </a>
                </div>

                <div class="address col-md-6 mt-5 mt-md-0">
                    <div class="heading d-flex">
                        <h4 class="text-dark mb-0">
                            Shipping address
                        </h4>
                    </div>

                    <div class="address-box">
                        You have not set up this type of address yet.
                    </div>

                    <a href="#shipping" class="btn btn-default address-action link-to-tab">
                        Add
                        Address
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>