@page "/Dashboards"
    <div class="container mt-1">
        <h5 class="mb-4">DASHBOARDS</h5>
        <div class="row">
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/order-list.svg" alt="Orders">
                    </div>
                    <div class="dashboard-label"><b>ORDERS</b></div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">

                        <img style="width:120px" src="/assets/img/Account/review.svg" alt="Reviews">
                    </div>
                    <div class="dashboard-label"><b>REVIEWS</b></div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/wishLisr.jpg" alt="Wishlist">
                    </div>
                    <div class="dashboard-label"><b>WISHLIST</b></div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/address.svg" alt="Address">
                    </div>
                    <div class="dashboard-label"><b>ADDRESS</b></div>

                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/profile.jpg" alt="Account Info">
                    </div>
                    <div class="dashboard-label"><b>ACCOUNT INFO</b></div>

                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/password.svg" alt="Password">
                    </div>
                    <div class="dashboard-label"><b>PASSWORD</b></div>

                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/email.jpg" alt="Password">
                    </div>
                    <div class="dashboard-label"><b>EMAIL</b></div>

                </div>
            </div>
            <div class="col-md-3 col-6 mb-4" style="text-align:center">
                <div class="card dashboard-card">
                    <div class="dashboard-icon">
                        <img style="width:120px" src="/assets/img/Account/people-logout.svg" alt="Log out">
                    </div>
                    <div class="dashboard-label"><b>LOG OUT</b></div>

                </div>
            </div>
        </div>
    </div>



    @code {

    }
