<div class="container mt-1px">
    <h5 class="mb-4">ORDERS</h5>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span>Customer: Janson (628716224212) / 08 Feb 2023, 23:09 WIB</span>
            <span>No. Order: 227728277621422</span>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-2">
                    <img src="/assets/img/product/product-cameras.jpg" class="img-fluid" alt="Product Image">
                </div>
                <div class="col-7">
                    <h5 class="card-title">STANDOUT BACKPACK</h5>
                    <p class="card-text">Black, 1 Product</p>
                    <p class="card-text"><strong>Notes:</strong> The color should not be red but blue</p>
                </div>
                <div class="col-3">
                    <p><strong>Total Payment:</strong> Rp50.000</p>
                    <p><strong>Status:</strong> Being processed</p>
                    <p><strong>Shipping limit:</strong> 4 more days</p>
                    <p><strong>Delivery service:</strong> Regular</p>
                </div>
            </div>
        </div>

    </div>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span>Customer: Janson (628716224212) / 08 Feb 2023, 23:09 WIB</span>
            <span>No. Order: 227728277621423</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">

                    <img src="/assets/img/product/product-technology.jpg" class="img-fluid" alt="Product Image">
                </div>
                <div class="col-7">
                    <h5 class="card-title">MINT EMBROIDERED CAP</h5>
                    <p class="card-text">Black, 1 Product</p>
                    <p class="card-text"><strong>Notes:</strong> The color should not be red but blue</p>
                </div>
                <div class="col-3">
                    <p><strong>Total Payment:</strong> Rp50.000</p>
                    <p><strong>Status:</strong> Being processed</p>
                    <p><strong>Shipping limit:</strong> 4 more days</p>
                    <p><strong>Delivery service:</strong> Regular</p>
                </div>
            </div>
        </div>

    </div>

</div>